<!-- <div style="padding: 13px;"> 
    <mat-card *ngFor="let login of loginData" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Username: {{login.username}}</mat-card-title> 
        </mat-card-header>
        <mat-card-content>
            <p>
                &nbsp; &nbsp; Password: {{login.password}}
            </p> 
        </mat-card-content>
        <mat-card-actions>
      <button mat-raised-button> Delete</button>
    </mat-card-actions>
    </mat-card>
</div> -->

 
<div class="displayContainer mat-elevation-z8">
    <button mat-raised-button color="primary"(click)="exportAsXLSX()" style="background-color: lemonchiffon;color: black;"> Export as Excel</button>
    <div class="display-header">
		<mat-form-field style="text-align: center;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			<!-- <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
                    <mat-icon>close</mat-icon>
                </button> -->
		</mat-form-field>
	</div>
  
    <mat-table #table  [dataSource]="loginData" matSort >    
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let login"> {{login.id}} </td>
            </ng-container>

        <!-- username Column -->
        <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let login"> {{login.username}} </td>
        </ng-container>
    
        <!-- password Column -->
        <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
        <td mat-cell *matCellDef="let login"> {{login.password}} </td>
        </ng-container>


        <!-- DOB Column -->
        <ng-container matColumnDef="DOB">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
            <td mat-cell *matCellDef="let login"> {{login.DOB | date:'yyyy-MM-dd'}}  </td>   
            </ng-container>
            <!-- fullDate -->
        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
            <td mat-cell *matCellDef="let login; let i=index">
                <button mat-icon-button color="accent" (click)="redirectToUpdate(i, login.id, login.username, login.password, login.DOB)">
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
              </td>
            </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td mat-cell *matCellDef="let login">
                <button mat-icon-button color="warn" (click)="redirectToDelete(login.id, login.username)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </td>
            </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
 
    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>